$layout-breakout-small: 320px;
$layout-breakout-med: 768px;
$layout-breakout-large: 992px;
$light: #c2ffc2f3;
$dark: #081603f7;
$logo-sml-screen: 300px;
$logo-lrg-screen: 100px;
$blue: rgb(43, 178, 151);
$green: rgb(83, 174, 13);
$brown: rgb(141, 59, 27);

@font-face {
  font-family: columbia;
  src: url("../fonts/columbia.ttf");
}

@media(min-width: $layout-breakout-small) {
  .calendar-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 100%;
  }    
}

.calendar {
  padding: 0;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $dark;
  color: $light;
  width: 45%; 
  font-size: 35px;

  @media(max-width: $layout-breakout-large) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #calendar-close {
    top:10px;
    left:250px;
  }

  #current-date {
    font-family: columbia;
    text-align: center;
    padding:0;
    font-size: 30px;
    margin: 10px 0px 10px 0px;
  }

  .cal-btns {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    button {
      background-color: inherit;
      color:inherit;
      font-size: 15px;
      border-left: 1px solid $light;
      border-top: 1px solid $light;
      border-bottom: 0.5px solid $light;
      border-right: 0.5px solid $light;
      border-radius: 2%;
    }
  }

  .year, .month {
    h3 {
      font-size: 25px;
      margin: 10px;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    padding: 0;
    margin: 0;
  }

  .date-group {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    table {
      display: flex;
      justify-content: space-evenly;
      align-items:flex-start;
      flex-direction: row;
      flex-wrap:wrap;
      margin-bottom: 20px;
      
      tbody {
        tr {
          td {
            .date {
              .date-btn {
                border: 1px solid $dark;
                text-align: center;
                line-height: 30px;
                height: 30px;
                width: 30px;
                font-size: 20px;
              }
            }
          }
        }
      }
    }

    .not-today {
      background: $light;
      color: $dark;
    }
    .today {
      background: $dark;
      color: $light;
    }

    .watered {
      background-color: $blue;
    }
    .fertilized {
      background-color: $brown;
    }
    .repotted{
      background-color: $green;
    }
    .watered.fertilized {
      background: linear-gradient(to right, $blue, $brown);
    }
    .watered.repotted {
      background: linear-gradient(to right, $blue, $green);
    }
    .fertilized.repotted {
      background: linear-gradient(to right, $brown, $green);
    }
    .fertilized.repotted.watered {
      background: linear-gradient(to right, $blue, $brown, $green);
    }
  }

  .calendar-list {
    font-size: 15px;
  }

  .key {
    margin: 0;
    padding: 0;
    font-size: 18px;
    position: relative;
    left: -200px;
    bottom: 150px;

    #watered-key {
      color:$blue;
    }
    #fert-key{
      color:$brown;
    }
    #repot-key{
      color: $green;
    }
  }
}