$layout-breakout-small: 910px;
$layout-breakout-med: 768px;
$layout-breakout-large: 992px;

$light: #ade2adf3;
$dark: #0f2905f7;
@font-face {
  font-family: columbia;
  src: url("../fonts/columbia.ttf");
}

.diary-date {
  z-index: 10;
  left: 0;
  top:0;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  position: fixed;
  overflow-y: scroll;
  height: 75%;
  top: 120px;
  background-color: $light;
  color: $dark;

  h1 {
    margin: 0;
    padding: 0;
    width:100%;
    text-align: center;
    font-family:columbia;
    font-size: 35px;
  }

  ul.cal-list {
    margin:0;
    padding: 0;
    text-align: center;
    font-size: 18px;
  }

  #diary-close {
    position: relative;
    top: 10px;
    left: 95%;

    @media(max-width: $layout-breakout-large){
      left: 90%;
    }
  }
  
  label {
    font-size: 25px;
  }

  .date-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input[type=checkbox] {
      height:20px;
      width:20px;
    }

    button.add, .confirm-icon {
      border: none;
      color: inherit;
      background-color: inherit;    
      height:30px;
      width:30px;
    }
  }

  .option-label {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    background-color: $dark;
    color: $light;
    
  }
}