$layout-breakout-small: 320px;
$layout-breakout-med: 768px;
$layout-breakout-large: 992px;
$light: #c2ffc2f3;
$dark: #081603f7;

.form-container {
    width: 100%;
    margin: 0;
    padding: 0;
    
    .form {
        background-color: $dark;
        color: $light;
        z-index: 10;
        position: fixed;
        overflow-y: scroll;
        height: 80%;
        top: 125px; 
        left:0;
        right:0;
        border: 1px solid #c2ffc2;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;

        @media(max-width:$layout-breakout-large){
            width: 90%;
            margin-left: 5%;
            margin-right: 5%;
        }

        #form-close {
            top: 10px;
            left: 90%;

            @media(max-width:$layout-breakout-large){
                left: 85%
            }
        }

        input[type=text] {
            margin: 10px;
            width: 80%;
            height: 30px;
            font-size: 25px;
        }

        .search-cancel{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        h1 {
            width: 100%;
            text-align: center;
            background-color: $dark;
            color: $light;
            margin: 0;
            padding: 0;
        }

        button {
            font-weight: normal;
            border: none;
            background-color: inherit;
            color: inherit;
            margin: 5px;
            padding: 5px;
            font-size: 25px;
        }

        .results {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .leaf-icon {
                color:$light;

                @media(min-width: $layout-breakout-small) {
                    height:30px;
                    width: 30px;
                }

                @media(min-width: $layout-breakout-large) {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}