$layout-breakout-small: 320px;
$layout-breakout-med: 768px;
$layout-breakout-large: 992px;

@font-face {
    font-family: columbia;
    src: url("../fonts/columbia.ttf");
}

.plant {
    width:100%;
    margin: 10px;

    .plant-detail {
        z-index: 20;
        position: fixed;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: #081603fa;
        color:#adda9e;
        overflow-y: scroll;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height:75%;
        top: 120px;

        @media(max-width:$layout-breakout-large) {
            height: 90%;
        }


        h1 {
            width: 100%;
            font-family: columbia;
            text-align: center;
            margin: 0;
            padding: 0;
            color: #adda9e;
            font-size: 45px;
        }

        #plant-detail-close {
            top: 10px;
            left: 550px;

            @media(max-width:$layout-breakout-large){
                left: 270px;
            }
        }

        .plant-btn-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .plant-icon {
                margin-left: 10px;

                @media(min-width:$layout-breakout-small) {
                    height: 50px;
                }

                @media(min-width: $layout-breakout-large) {
                    height: 30px;
                }
            }

            button {
                margin: 5px;
                color: #adda9e;
                background-color: inherit;
                border: none;
                font-size: 35px;
            }
        }

        .care-diary, .plant-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .plant-info {
            .plant-title {
                display: block;
            }

            font-size: 25px;
        }

        .care-diary {
            ul.cal-list {
                padding: 0;
                margin: 10px;
                text-align: center;
            }
            form {
                text-align: center;
                font-size: 20px;

                input[type=date] {
                    display:block;
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 18px;
                }
            }
        }
    }
}