$layout-breakout-small: 320px;
$layout-breakout-med: 480px;
$layout-breakout-large: 1024px;
@font-face {
    font-family: 'columbia';
    src: url('../fonts/columbia.ttf') format('truetype');
}

.index {    
    position: relative;
    padding: 0;
    margin: 10px;
    background-color: #78b96298;
    overflow: scroll;

    @media screen and (min-width:$layout-breakout-large) {
        width: 45%;
        min-height: 90%;
    }
    @media screen and (min-width: $layout-breakout-small) and (max-width: $layout-breakout-med) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: 70vh;
    }

    button.close {
        border:none;
        background-color: inherit;
        color:inherit;

        @media(min-width: $layout-breakout-small) {
            position: absolute;
            right: 25px;
            top: 25px;
        }
    }

    h1 {
        font-family: columbia;
        color: #0a1f13;
        padding: 0px;
        margin:0;
        width: 100%;
        text-align: center;
        @media (min-width: $layout-breakout-small) {
            font-size: 100px;
        }
        @media(min-width:$layout-breakout-large) {
            font-size: 50px;
        }
    }

    .index-header {
        display: flex;
        color: #0a1f13;
        width: 100%;
        text-align: center;

        @media (min-width: $layout-breakout-large) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        @media (min-width:$layout-breakout-small) {
            flex-direction: column;
        }

        button {
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: inherit;
            color: inherit;
            font-family: bodoni;
            
            .add {
                @media (min-width: $layout-breakout-small) {
                    height: 50px;
                    margin-left: 10px;
                }
                @media(min-width: $layout-breakout-large) {
                    height: 30px;
                }
            }
            p {
                @media(min-width:$layout-breakout-small) {
                    font-size: 60px;
                }
                @media(min-width:$layout-breakout-large) {
                    font-size: 30px;
                }
                margin-right: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    .plantlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width:100%;

        .plant-button {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width:100%;
            background-color: #0a1f13;
            border:none;
            h2 {
                width:100%;
                background-color: #0a1f13;
                margin-top:5px;
                margin-bottom: 5px;
            }
            button {
                width:100%;
                background-color: #0a1f13;
                border:none;
                margin: 5px;
                padding: 3px;
                color:#78b96298;
                text-align: center;
                border:none;

                @media (min-width:$layout-breakout-small) {
                    font-size: 40px;
                }

                @media(min-width: $layout-breakout-large) {
                    font-size: 20px;
                }
            }
        }
    }    
}