@use "plant_index";
@use "search";
@use "calendar";
@use "form";
@use "plant";
@use "diary-date";

$layout-breakout-small: 320px;
$layout-breakout-med: 768px;
$layout-breakout-large: 992px;

@font-face {
    font-family: 'bodoni';
    src: url("../fonts/BodoniflfRoman-vmAD.ttf") format('truetype');
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: bodoni;
    overflow-y: hidden;
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    ul {
        list-style: none;
    }

    .app{
        height: fit-content;
        width: 100vw;
        padding:0;
        margin:0;
    }

    .inner-app{
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    background-size: cover;
    background-repeat: no-repeat;
    background-position:bottom;

    @media(min-width: $layout-breakout-small) {
        background-image: url('/images/mobile-background.png');
    }

    @media (min-width: $layout-breakout-large) {
        background-image: url('/images/background.png');
	}

    button {
        font-family: bodoni;
    }

    button.confirm {
        border:none;
        background:inherit;
        color:inherit;

        svg {
            height: 35px;
        }
    }
    
    button.close {
        border: none;
        background-color: inherit;
        color: inherit;
        height: 40px;
        position: relative;
        z-index: inherit;

        svg {
            position: relative;
            height: 40px;
        }
    }

    nav {
        #logo {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            img {  
                height: 100px;
            }
        } 
    }
    
    .index-button {
        border: none;
        background-color: rgba(101, 157, 101, 0.193);
        color:rgb(10, 16, 10);
        width: 100%;
        
        @media(min-width: $layout-breakout-large) {
            font-size: 90px;
        }
        @media(min-width:$layout-breakout-small) {
            font-size: 50px;
            margin-top: 20px;
        }
    }
}

