@font-face {
  font-family: "columbia";
  src: url(/fonts/columbia.ttf?f3dcb7ab058da566aef5b21f01c1215c) format("truetype");
}
.index {
  position: relative;
  padding: 0;
  margin: 10px;
  background-color: #78b96298;
  overflow: scroll;
}
@media screen and (min-width: 1024px) {
  .index {
    width: 45%;
    min-height: 90%;
  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .index {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 70vh;
  }
}
.index button.close {
  border: none;
  background-color: inherit;
  color: inherit;
}
@media (min-width: 320px) {
  .index button.close {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}
.index h1 {
  font-family: columbia;
  color: #0a1f13;
  padding: 0px;
  margin: 0;
  width: 100%;
  text-align: center;
}
@media (min-width: 320px) {
  .index h1 {
    font-size: 100px;
  }
}
@media (min-width: 1024px) {
  .index h1 {
    font-size: 50px;
  }
}
.index .index-header {
  display: flex;
  color: #0a1f13;
  width: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  .index .index-header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 320px) {
  .index .index-header {
    flex-direction: column;
  }
}
.index .index-header button {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: bodoni;
}
@media (min-width: 320px) {
  .index .index-header button .add {
    height: 50px;
    margin-left: 10px;
  }
}
@media (min-width: 1024px) {
  .index .index-header button .add {
    height: 30px;
  }
}
.index .index-header button p {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 320px) {
  .index .index-header button p {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .index .index-header button p {
    font-size: 30px;
  }
}
.index .plantlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.index .plantlist .plant-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0a1f13;
  border: none;
}
.index .plantlist .plant-button h2 {
  width: 100%;
  background-color: #0a1f13;
  margin-top: 5px;
  margin-bottom: 5px;
}
.index .plantlist .plant-button button {
  width: 100%;
  background-color: #0a1f13;
  border: none;
  margin: 5px;
  padding: 3px;
  color: #78b96298;
  text-align: center;
  border: none;
}
@media (min-width: 320px) {
  .index .plantlist .plant-button button {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .index .plantlist .plant-button button {
    font-size: 20px;
  }
}

#add {
  border: none;
  background-color: #136b37;
}

@font-face {
  font-family: columbia;
  src: url(/fonts/columbia.ttf?f3dcb7ab058da566aef5b21f01c1215c);
}
@media (min-width: 320px) {
  .calendar-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 90%;
  }
}
.calendar {
  padding: 0;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #081603f7;
  color: #c2ffc2f3;
}
@media (min-width: 320px) {
  .calendar {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .calendar {
    width: 45%;
    font-size: 35px;
  }
}
@media (min-width: 320px) {
  .calendar button.close {
    position: absolute;
    top: 340px;
    right: 60px;
  }
}
@media (min-width: 1024px) {
  .calendar button.close {
    position: relative;
    top: 10px;
    left: 380px;
  }
}
.calendar #current-date {
  font-family: columbia;
  text-align: center;
  padding: 0;
}
@media (min-width: 320px) and (max-width: 480px) {
  .calendar #current-date {
    font-size: 80px;
    margin: 20px 0px 20px 0px;
  }
}
@media (min-width: 1024px) {
  .calendar #current-date {
    font-size: 30px;
    margin: 10px 0px 10px 0px;
  }
}
.calendar .cal-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar .cal-btns button {
  background-color: inherit;
  color: inherit;
}
@media (min-width: 320px) {
  .calendar .cal-btns button {
    padding: 10px;
    font-size: 50px;
    border-left: 5px solid #c2ffc2f3;
    border-top: 5px solid #c2ffc2f3;
    border-right: none;
    border-bottom: none;
    border-radius: 2%;
  }
}
@media (min-width: 1024px) {
  .calendar .cal-btns button {
    font-size: 20px;
    border-left: 1px solid #c2ffc2f3;
    border-top: 1px solid #c2ffc2f3;
    border-bottom: 0.5px solid #c2ffc2f3;
    border-right: 0.5px solid #c2ffc2f3;
    border-radius: 2%;
  }
}
.calendar .year, .calendar .month {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
@media (min-width: 320px) {
  .calendar .year h3, .calendar .month h3 {
    margin: 20px;
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .calendar .year h3, .calendar .month h3 {
    font-size: 25px;
    margin: 10px;
  }
}
.calendar .date-group {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 320px) and (max-width: 480px) {
  .calendar .date-group {
    margin-top: 30px;
  }
}
@media (min-width: 320px) {
  .calendar .date-group {
    margin-top: 15px;
  }
}
.calendar .date-group table {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 320px) {
  .calendar .date-group table {
    height: 80%;
    width: 100%;
  }
}
.calendar .date-group table tbody tr td .date .date-btn {
  border: 1px solid #081603f7;
  text-align: center;
}
@media (min-width: 320px) {
  .calendar .date-group table tbody tr td .date .date-btn {
    line-height: 70px;
    height: 70px;
    width: 70px;
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .calendar .date-group table tbody tr td .date .date-btn {
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-size: 20px;
  }
}
.calendar .date-group #not-today {
  background: #c2ffc2f3;
  color: #081603f7;
}
.calendar .date-group #today {
  background: #081603f7;
  color: #c2ffc2f3;
}
@media (min-width: 1024px) {
  .calendar .calendar-list {
    font-size: 15px;
  }
}

.form-container {
  width: 100%;
}
.form-container .form {
  background-color: #081603f7;
  color: #c2ffc2f3;
  z-index: 10;
  position: fixed;
  overflow-y: scroll;
}
@media (min-width: 1024px) {
  .form-container .form {
    top: 125px;
    border: 1px solid #c2ffc2;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .form-container .form {
    left: 0;
    right: 0;
    top: 300px;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-right: 10%;
    overflow-y: scroll;
  }
}
.form-container .form #form-close {
  height: 50px;
  width: 50px;
}
.form-container .form input[type=text] {
  margin: 10px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .form-container .form input[type=text] {
    width: 80%;
    height: 55px;
    font-size: 45px;
  }
}
.form-container .form .search-cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form-container .form h1 {
  width: 100%;
  text-align: center;
  background-color: #081603f7;
  color: #c2ffc2f3;
  margin: 0;
  padding: 0;
}
.form-container .form button {
  font-weight: normal;
  border: none;
  background-color: inherit;
  color: inherit;
  margin: 5px;
  padding: 5px;
}
@media (min-width: 320px) {
  .form-container .form button {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  .form-container .form button {
    font-size: 25px;
  }
}
.form-container .form .results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container .form .results .leaf-icon {
  color: #c2ffc2f3;
}
@media (min-width: 320px) {
  .form-container .form .results .leaf-icon {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 1024px) {
  .form-container .form .results .leaf-icon {
    height: 20px;
    width: 20px;
  }
}

@font-face {
  font-family: columbia;
  src: url(/fonts/columbia.ttf?f3dcb7ab058da566aef5b21f01c1215c);
}
.plant {
  width: 100%;
  margin: 10px;
}
.plant .plant-detail {
  z-index: 10;
  position: fixed;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #081603fa;
  color: #adda9e;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 320px) {
  .plant .plant-detail {
    top: 300px;
    height: 80%;
  }
}
@media (min-width: 1024px) {
  .plant .plant-detail {
    top: 120px;
    height: 75%;
  }
}
.plant .plant-detail button.close {
  border: none;
  background-color: inherit;
  color: inherit;
}
@media (min-width: 320px) {
  .plant .plant-detail button.close {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}
.plant .plant-detail h1 {
  width: 100%;
  font-family: columbia;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media (min-width: 320px) {
  .plant .plant-detail h1 {
    margin-top: 25px;
    font-size: 100px;
    margin-top: 10px;
  }
}
@media (min-width: 1024px) {
  .plant .plant-detail h1 {
    font-size: 45px;
  }
}
.plant .plant-detail .plant-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.plant .plant-detail .plant-btn-group .plant-icon {
  margin-left: 10px;
}
@media (min-width: 320px) {
  .plant .plant-detail .plant-btn-group .plant-icon {
    height: 50px;
  }
}
@media (min-width: 1024px) {
  .plant .plant-detail .plant-btn-group .plant-icon {
    height: 30px;
  }
}
.plant .plant-detail .plant-btn-group button {
  margin: 5px;
  color: #adda9e;
  background-color: inherit;
  border: none;
}
@media (min-width: 320px) {
  .plant .plant-detail .plant-btn-group button {
    padding: 5px;
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .plant .plant-detail .plant-btn-group button {
    font-size: 35px;
  }
}
.plant .plant-detail .care-diary, .plant .plant-detail .plant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plant .plant-detail .plant-info .plant-title {
  display: block;
}
@media (min-width: 320px) {
  .plant .plant-detail .plant-info {
    font-size: 50px;
  }
  .plant .plant-detail .plant-info li {
    margin-top: 30px;
  }
}
@media (min-width: 1024px) {
  .plant .plant-detail .plant-info {
    font-size: 25px;
  }
}
.plant .plant-detail .care-diary form {
  text-align: center;
}
@media (min-width: 320px) {
  .plant .plant-detail .care-diary form {
    font-size: 70px;
  }
}
@media (min-width: 1024px) {
  .plant .plant-detail .care-diary form {
    font-size: 35px;
  }
}
.plant .plant-detail .care-diary form input[type=date] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 320px) {
  .plant .plant-detail .care-diary form input[type=date] {
    font-size: 40px;
  }
}
@media (min-width: 1024px) {
  .plant .plant-detail .care-diary form input[type=date] {
    font-size: 20px;
  }
}

@font-face {
  font-family: columbia;
  src: url(/fonts/columbia.ttf?f3dcb7ab058da566aef5b21f01c1215c);
}
.diary-date {
  z-index: 10;
  left: 0;
  right: 0;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: fixed;
  overflow-y: scroll;
  background-color: #ade2adf3;
  color: #0f2905f7;
}
@media (min-width: 320px) {
  .diary-date {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 50px;
    top: 300px;
  }
}
@media (min-width: 1024px) {
  .diary-date {
    height: 75%;
    top: 120px;
  }
}
.diary-date h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: columbia;
}
@media (min-width: 320px) {
  .diary-date h1 {
    font-size: 60px;
  }
}
@media (min-width: 1024px) {
  .diary-date h1 {
    font-size: 35px;
  }
}
.diary-date #diary-close {
  position: relative;
  top: 10px;
}
@media (min-width: 320px) {
  .diary-date #diary-close {
    left: 90%;
  }
}
@media (min-width: 1024px) {
  .diary-date #diary-close {
    left: 95%;
  }
}
@media (min-width: 320px) {
  .diary-date label {
    font-size: 45px;
  }
}
@media (min-width: 1024px) {
  .diary-date label {
    font-size: 25px;
  }
}
.diary-date .date-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) {
  .diary-date .date-options input[type=checkbox] {
    height: 40px;
    width: 40px;
  }
}
@media (min-width: 1024px) {
  .diary-date .date-options input[type=checkbox] {
    height: auto;
    width: auto;
  }
}
.diary-date .date-options button.add, .diary-date .date-options .confirm-icon {
  border: none;
  color: inherit;
  background-color: inherit;
}
@media (min-width: 320px) {
  .diary-date .date-options button.add, .diary-date .date-options .confirm-icon {
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 1024px) {
  .diary-date .date-options button.add, .diary-date .date-options .confirm-icon {
    height: 30px;
    width: 30px;
  }
}
.diary-date .option-label {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  background-color: #0f2905f7;
  color: #ade2adf3;
}

@font-face {
  font-family: "bodoni";
  src: url(/fonts/BodoniflfRoman-vmAD.ttf?436dfb896540381b5a5f9bd325bc510c) format("truetype");
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: bodoni;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 1024px) {
  body {
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
body ul {
  list-style: none;
}
body .app {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  body .inner-app {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 320px) {
  body {
    background-image: url("/images/mobile-background.png");
  }
}
@media (min-width: 1024px) {
  body {
    background-image: url("/images/background.png");
  }
}
body button {
  font-family: bodoni;
}
body button.confirm {
  border: none;
  background: inherit;
  color: inherit;
}
@media (min-width: 320px) {
  body button.confirm .confirm-icon {
    height: 80px;
  }
}
@media (min-width: 1024px) {
  body button.confirm .confirm-icon {
    height: 35px;
  }
}
body button.close {
  border: none;
  background-color: inherit;
  color: inherit;
}
@media (min-width: 320px) {
  body button.close .close-icon {
    height: 60px;
    width: 60px;
  }
}
@media (min-width: 1024px) {
  body button.close .close-icon {
    height: 30px;
  }
}
body nav #logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
@media (min-width: 320px) {
  body nav #logo img {
    height: 300px;
  }
}
@media (min-width: 1024px) {
  body nav #logo img {
    height: 100px;
  }
}
body .index-button {
  border: none;
  background-color: rgba(101, 157, 101, 0.193);
  color: #0a100a;
  width: 100%;
}
@media (min-width: 320px) {
  body .index-button {
    font-size: 90px;
    margin-top: 20px;
  }
}
@media (min-width: 1024px) {
  body .index-button {
    font-size: 50px;
  }
}
