@font-face {
  font-family: "columbia";
  src: url(/fonts/columbia.ttf?f3dcb7ab058da566aef5b21f01c1215c) format("truetype");
}
.index {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #78b96298;
  overflow: scroll;
  height: 80vh;
  width: 45%;
}
@media (max-width: 992px) {
  .index {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.index h1 {
  font-family: columbia;
  color: #0a1f13;
  padding: 0px;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.index #index-close {
  top: -78px;
  left: 290px;
}
.index .index-header {
  display: flex;
  color: #0a1f13;
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.index .index-header button {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
  color: inherit;
  font-family: bodoni;
}
.index .index-header button .add {
  height: 50px;
  margin-left: 10px;
}
.index .index-header button p {
  font-size: 30px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.index .plantlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.index .plantlist .plant-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #0a1f13;
  border: none;
}
.index .plantlist .plant-button h2 {
  width: 100%;
  background-color: #0a1f13;
  margin-top: 5px;
  margin-bottom: 5px;
}
.index .plantlist .plant-button button {
  width: 100%;
  background-color: #0a1f13;
  border: none;
  margin: 5px;
  padding: 3px;
  color: #78b96298;
  text-align: center;
  border: none;
}

#add {
  border: none;
  background-color: #136b37;
}

@font-face {
  font-family: columbia;
  src: url(/fonts/columbia.ttf?f3dcb7ab058da566aef5b21f01c1215c);
}
@media (min-width: 320px) {
  .calendar-container {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    height: 100%;
  }
}
.calendar {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #081603f7;
  color: #c2ffc2f3;
  width: 45%;
  font-size: 35px;
}
@media (max-width: 992px) {
  .calendar {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.calendar #calendar-close {
  top: 10px;
  left: 250px;
}
.calendar #current-date {
  font-family: columbia;
  text-align: center;
  padding: 0;
  font-size: 30px;
  margin: 10px 0px 10px 0px;
}
.calendar .cal-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar .cal-btns button {
  background-color: inherit;
  color: inherit;
  font-size: 15px;
  border-left: 1px solid #c2ffc2f3;
  border-top: 1px solid #c2ffc2f3;
  border-bottom: 0.5px solid #c2ffc2f3;
  border-right: 0.5px solid #c2ffc2f3;
  border-radius: 2%;
}
.calendar .year, .calendar .month {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.calendar .year h3, .calendar .month h3 {
  font-size: 25px;
  margin: 10px;
}
.calendar .date-group {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}
.calendar .date-group table {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.calendar .date-group table tbody tr td .date .date-btn {
  border: 1px solid #081603f7;
  text-align: center;
  line-height: 30px;
  height: 30px;
  width: 30px;
  font-size: 20px;
}
.calendar .date-group .not-today {
  background: #c2ffc2f3;
  color: #081603f7;
}
.calendar .date-group .today {
  background: #081603f7;
  color: #c2ffc2f3;
}
.calendar .date-group .watered {
  background-color: #2bb297;
}
.calendar .date-group .fertilized {
  background-color: #8d3b1b;
}
.calendar .date-group .repotted {
  background-color: #53ae0d;
}
.calendar .date-group .watered.fertilized {
  background: linear-gradient(to right, #2bb297, #8d3b1b);
}
.calendar .date-group .watered.repotted {
  background: linear-gradient(to right, #2bb297, #53ae0d);
}
.calendar .date-group .fertilized.repotted {
  background: linear-gradient(to right, #8d3b1b, #53ae0d);
}
.calendar .date-group .fertilized.repotted.watered {
  background: linear-gradient(to right, #2bb297, #8d3b1b, #53ae0d);
}
.calendar .calendar-list {
  font-size: 15px;
}
.calendar .key {
  margin: 0;
  padding: 0;
  font-size: 18px;
  position: relative;
  left: -200px;
  bottom: 150px;
}
.calendar .key #watered-key {
  color: #2bb297;
}
.calendar .key #fert-key {
  color: #8d3b1b;
}
.calendar .key #repot-key {
  color: #53ae0d;
}

.form-container {
  width: 100%;
  margin: 0;
  padding: 0;
}
.form-container .form {
  background-color: #081603f7;
  color: #c2ffc2f3;
  z-index: 10;
  position: fixed;
  overflow-y: scroll;
  height: 80%;
  top: 125px;
  left: 0;
  right: 0;
  border: 1px solid #c2ffc2;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
@media (max-width: 992px) {
  .form-container .form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.form-container .form #form-close {
  top: 10px;
  left: 90%;
}
@media (max-width: 992px) {
  .form-container .form #form-close {
    left: 85%;
  }
}
.form-container .form input[type=text] {
  margin: 10px;
  width: 80%;
  height: 30px;
  font-size: 25px;
}
.form-container .form .search-cancel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form-container .form h1 {
  width: 100%;
  text-align: center;
  background-color: #081603f7;
  color: #c2ffc2f3;
  margin: 0;
  padding: 0;
}
.form-container .form button {
  font-weight: normal;
  border: none;
  background-color: inherit;
  color: inherit;
  margin: 5px;
  padding: 5px;
  font-size: 25px;
}
.form-container .form .results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container .form .results .leaf-icon {
  color: #c2ffc2f3;
}
@media (min-width: 320px) {
  .form-container .form .results .leaf-icon {
    height: 30px;
    width: 30px;
  }
}
@media (min-width: 992px) {
  .form-container .form .results .leaf-icon {
    height: 20px;
    width: 20px;
  }
}

@font-face {
  font-family: columbia;
  src: url(/fonts/columbia.ttf?f3dcb7ab058da566aef5b21f01c1215c);
}
.plant {
  width: 100%;
  margin: 10px;
}
.plant .plant-detail {
  z-index: 20;
  position: fixed;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #081603fa;
  color: #adda9e;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 75%;
  top: 120px;
}
@media (max-width: 992px) {
  .plant .plant-detail {
    height: 90%;
  }
}
.plant .plant-detail h1 {
  width: 100%;
  font-family: columbia;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #adda9e;
  font-size: 45px;
}
.plant .plant-detail #plant-detail-close {
  top: 10px;
  left: 550px;
}
@media (max-width: 992px) {
  .plant .plant-detail #plant-detail-close {
    left: 270px;
  }
}
.plant .plant-detail .plant-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.plant .plant-detail .plant-btn-group .plant-icon {
  margin-left: 10px;
}
@media (min-width: 320px) {
  .plant .plant-detail .plant-btn-group .plant-icon {
    height: 50px;
  }
}
@media (min-width: 992px) {
  .plant .plant-detail .plant-btn-group .plant-icon {
    height: 30px;
  }
}
.plant .plant-detail .plant-btn-group button {
  margin: 5px;
  color: #adda9e;
  background-color: inherit;
  border: none;
  font-size: 35px;
}
.plant .plant-detail .care-diary, .plant .plant-detail .plant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.plant .plant-detail .plant-info {
  font-size: 25px;
}
.plant .plant-detail .plant-info .plant-title {
  display: block;
}
.plant .plant-detail .care-diary ul.cal-list {
  padding: 0;
  margin: 10px;
  text-align: center;
}
.plant .plant-detail .care-diary form {
  text-align: center;
  font-size: 20px;
}
.plant .plant-detail .care-diary form input[type=date] {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

@font-face {
  font-family: columbia;
  src: url(/fonts/columbia.ttf?f3dcb7ab058da566aef5b21f01c1215c);
}
.diary-date {
  z-index: 10;
  left: 0;
  top: 0;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  position: fixed;
  overflow-y: scroll;
  height: 75%;
  top: 120px;
  background-color: #ade2adf3;
  color: #0f2905f7;
}
.diary-date h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: columbia;
  font-size: 35px;
}
.diary-date ul.cal-list {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
}
.diary-date #diary-close {
  position: relative;
  top: 10px;
  left: 95%;
}
@media (max-width: 992px) {
  .diary-date #diary-close {
    left: 90%;
  }
}
.diary-date label {
  font-size: 25px;
}
.diary-date .date-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.diary-date .date-options input[type=checkbox] {
  height: 20px;
  width: 20px;
}
.diary-date .date-options button.add, .diary-date .date-options .confirm-icon {
  border: none;
  color: inherit;
  background-color: inherit;
  height: 30px;
  width: 30px;
}
.diary-date .option-label {
  margin-top: 20px;
  text-align: center;
  width: 100%;
  background-color: #0f2905f7;
  color: #ade2adf3;
}

@font-face {
  font-family: "bodoni";
  src: url(/fonts/BodoniflfRoman-vmAD.ttf?436dfb896540381b5a5f9bd325bc510c) format("truetype");
}
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: bodoni;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
body ul {
  list-style: none;
}
body .app {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  padding: 0;
  margin: 0;
}
body .inner-app {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (min-width: 320px) {
  body {
    background-image: url("/images/mobile-background.png");
  }
}
@media (min-width: 992px) {
  body {
    background-image: url("/images/background.png");
  }
}
body button {
  font-family: bodoni;
}
body button.confirm {
  border: none;
  background: inherit;
  color: inherit;
}
body button.confirm svg {
  height: 35px;
}
body button.close {
  border: none;
  background-color: inherit;
  color: inherit;
  height: 40px;
  position: relative;
  z-index: inherit;
}
body button.close svg {
  position: relative;
  height: 40px;
}
body nav #logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
body nav #logo img {
  height: 100px;
}
body .index-button {
  border: none;
  background-color: rgba(101, 157, 101, 0.193);
  color: #0a100a;
  width: 100%;
}
@media (min-width: 992px) {
  body .index-button {
    font-size: 90px;
  }
}
@media (min-width: 320px) {
  body .index-button {
    font-size: 50px;
    margin-top: 20px;
  }
}
